@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
/* start main */

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #66b53d;
    color: #fff
}
/* end main */
/* start register page */

body {
    direction: rtl;
    font-family: 'Noto Kufi Arabic', sans-serif;
}
.bg_color_2 {
    background: url(../img/hero_bg_1.svg) fixed #66b53d;
}
#toTop {
    background: #307a09
}
.checkbox_2 label:after {
    background: #307a09
}
#register {
    margin: 30px auto;
}
#register h5 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px
}
.link_bright a {
    color: #000;
}
strong {
    color: #fff;
}
/* end register page */
/* start login-2 page */

small {
    color: #307a09;
}
.login-sty {
    margin: 30px auto;
    width: 400px;
    color: #fff;
}
.login-sty h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0 0 30px;
    color: #fff
}
/* end login-2 page */
/* start forgot */

.margin-156 {
    padding-top: 35px;
    padding-bottom: 53px;
    margin: 0 auto 30px auto;
    width: 400px;
    color: #fff;
}
.margin-156 h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0 0 30px;
    color: #fff
}
/* end forgot */
/* start confirm page */

#confirm a {
    color: #66b53d;
}
#confirm a:hover {
    color: #307a09;
}
/* end confirm page */
/* start list page */

.main-menu>ul>li span>a:hover {
    color: #307a09;
}
.main-menu ul ul {
    border-top: 2px solid #307a09;
}
.main-menu ul ul li a:hover {
    color: #307a09;
}
.search_bar_list input[type=text] {
    padding-right: 65px;
}
#results {
    background: #40a30c;
}
.search_bar_list input[type="submit"] {
    background: #66b53d;
}
.search_bar_list input[type="submit"]:hover {
    background: #40a30c;
}
.switch-field input:checked+label {
    background-color: #307a09;
}
#results h4 {
    color: #66b53d;
}
sbSelector:hover,
.sbSelector:link,
.sbSelector:visited {
    color: #307a09;
}
.switch-field label:hover {
    color: #307a09;
}
.layout_view a:hover {
    color: #66b53d;
}
.layout_view a {
    color: #307a09;
}
.strip_list {
    padding: 15px 115px 20px 15px;
}
.strip_list figure {
    right: 15px;
}
.strip_list ul li:last-child a {
    border: 2px solid #40a30c;
    color: #40a30c;
}
.strip_list ul li:last-child a:hover {
    background-color: #40a30c
}
.strip_list ul li a:hover {
    color: #40a30c;
}
.page-link {
    color: #40a30c;
}
.page-item.active .page-link {
    background-color: #40a30c;
    border-color: #40a30c;
}
.pagination-sm .page-item .page-link:hover {
    background-color: #40a30c;
    border-color: #40a30c;
}
ul#additional_links li:after {
    right: 10px;
}
footer #copy {
    text-align: left;
}
ul#additional_links li a:hover {
    color: #40a30c;
}
a {
    color: #40a30c;
}
.selectbox {
    -webkit-appearance: none;
}
.sbOptions a.sbFocus,
.sbOptions a:hover {
    color: #40a30c;
}
.app {
    -webkit-appearance: none;
}
.sbToggle:after {
    color: #307a09;
    position: absolute;
    padding-right: 130px;
    left: 15px
}
.filters_listing ul li {
    margin-right: 0px;
}
.filter .nav-tabs li a {
    padding: 7px 25px;
}
#results {
    padding-bottom: 30px
}
#results h4 {
    color: #fff;
    margin: 0;
}
.btn-block {
    background-color: #307a09;
    color: #fff;
    border-radius: 0
}
.form-control:focus {
    border-color: #307a09;
    box-shadow: none
}
.strip_list ul li a {
    margin-right: 3px;
}
/* end list page */
/* start index page */

.main-menu {
    float: right;
    margin-right: 20px
}
ul#top_access {
    float: left;
}
#logo_home h1 a {
    background: url(../img/106/Asset-1.png) no-repeat;
}
.hero_home.version_1 {
    background: url(../img/hero_bg_1.svg) fixed #40a30c;
}
ul#top_access {
    top: 0px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-bottom: 3px solid #40a30c;
    padding: 10px;
}
.nav-tabs .nav-link.focus {
    border-bottom: 3px solid #40a30c;
}
.nav-tabs .nav-link.disabled {
    cursor: not-allowed;
    padding: 10px;
}
/* end index page */
/* start code filter css */

.filter {
    margin-top: 30px;
}
.filter .nav-tabs {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 15px;
}
.filter .nav-pills,
.nav-tabs {
    margin-bottom: 0;
}
.filter .nav>li>a:focus,
.nav>li>a:hover {
    background-color: #fff;
    box-shadow: none;
    border: 0;
}
.filter .nav-tabs>li>a {
    border: none;
    margin-left: 0;
}
.filter .nav-tabs li a {
    font-size: 16px;
    color: #444d58!important;
    padding: 0px 25px;
}
.filter .nav-tabs li.disabled a {
    color: #999 !important;
}
.filter .nav-tabs>li.active>a,
.filter .nav-tabs>li.active>a:focus,
.filter .nav-tabs>li.active>a:hover {
    background-color: #ffffff;
    border: none;
    cursor: default;
    border-bottom: 3px solid #66b53d;
}
.filter .btn {
    color: #fff;
    background-color: #307a09;
    width: 100%;
    border-radius: 0;
    margin: auto;
    transition: all .3s ease-in-out
}
.filter .btn:hover {
    color: #fff;
    background-color: #66b53d;
}
.filter input {
    border-radius: 0
}
.filter .news-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0 15px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 7% 50%;
    border-radius: 0;
    max-width: 100% !important;
    background-size: 12px;
}
.filter .tab-content {
    background-color: #fff;
}
.filter .tab-content form {
    margin: 0 15px;
    border-top: 1px solid #ddd;
    padding: 5px 0;
    padding-bottom: 15px;
}
a.wish_bt {
    right: 93%;
}
.strip_list a.wish_bt:hover {
    color: #66b53d;
    background-color: #66b53d;
}
footer ul li a:hover {
    color: #66b53d;
}
.follow_us ul li a i:hover {
    color: #66b53d;
}
footer ul.links li a:hover:before {
    color: #66b53d;
}
/*
footer {
    margin-top: 50px;
}
*/

footer ul.contacts li a i {
    margin-right: 10px;
    color: #66b53d;
    float: right;
    padding-left: 7px;
}
.footbtn .btn {
    color: #fff;
    background-color: #307a09;
    max-width: 100%;
    border-radius: 0;
    margin: auto;
    transition: all .3s ease-in-out;
}
.form-control {
    color: #66b53d;
}
#app_section {
    background: url(../img/hero_bg_1.svg) fixed #307a09;
}
/* start detail page */

.btn-light {
    padding: 10px;
    color: #307a09;
    font-size: 20px;
    border-radius: 0;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.btn-light:hover {
    color: #111;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    color: #307a09;
}
.margin_60-edit {}
/* end detail page */
/* start rateing */
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #f70;
    text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}
.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}
.modal-footer {
    display: block
}
/* end rateing */
/* start reservation page */

.strip_list ul li:last-child {
    float: none;
    margin-right: 10px;
}
.book-now li:last-child {
    float: none
}
.book-now li:first-child:after {
    content: '' !important;
    font-weight: 400;
    margin-left: 0px;
    color: #ccc;
}
.margin_edit {
    padding-top: 0;
    padding-bottom: 25px;
}
footer .pad-edit {
    margin-top: 35px
}
/* end reservation page */
/* start display_patient_logs */

.portlet.box.green>.portlet-title {
    background-color: #66b53d;
}
.portlet.box>.portlet-title {
    border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
    color: #fff;
}
.portlet.box.green {
    border: 1px solid #66b53d;
    border-top: 0;
}
.portlet>.portlet-title {
    margin-bottom: 10px;
    min-height: 41px;
}
.portlet>.portlet-title>.caption {
    float: right;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
/* end display_patient_logs */
/* start media query */
/* media query for laptop */

@media only screen and (max-width: 1024px) {
    .margin_60_edit {
        padding-top: 40px;
    }
}
/* media query for tablet*/

@media only screen and (max-width: 768px) {
    ul#top_access {
        float: right;
        padding-left: 27px;
    }
    .margin_60_edit {
        padding-top: 30px;
    }
    .strip_list ul li a {
        margin-right: -18px;
    }
    .strip_list ul li:first-child {
        display: block;
    }
}
/* media query for mobile */

@media only screen and (max-width: 480px) {
    .strip_list {
        padding: 15px 35px 20px 15px;
    }
    ul#top_access {
        margin-top: 17px;
        float: right;
        margin-bottom: 10px;
    }
    .strip_list p {
        margin-bottom: 15px;
        margin-right: -60px;
        margin-top: 10px;
    }
    .strip_list {
        padding: 15px 90px 20px 0;
    }
    .strip_list ul {
        margin: 15px -80px 0 0;
    }
    .rating {
        margin-left: 0
    }
    a.wish_bt {
        right: 85%;
    }
    .strip_list ul {
        margin: 15px -60px 0 0;
    }
    .strip_list ul li:first-child {
        display: block;
    }
    /* end media query */