@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700,700i,800);
a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}
#reccomended .owl-item,
#reccomended .owl-item.active.center {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden
}
#app_section small,
#hero_video .content h3,
.box_feat h3,
.box_list small,
.hero_home .content h3,
.main_title h2,
.main_title_2 h3,
.main_title_3 h3,
.main_title_4 h3,
.marker_info small,
.sbSelector:hover,
.sbSelector:link,
.sbSelector:visited,
.strip_list small,
.switch-field label,
footer h5 {
    text-transform: uppercase
}
.sbOptions,
ol,
ul,
ul#cat_nav {
    list-style: none
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 999999
}
[data-loader=circle-side] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #66b53d;
    border-top-color: rgba(0, 0, 0, .2);
    border-right-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%
}
.main_title_3,
.main_title_3 h3,
main {
    position: relative
}
hr,
hr.double {
    margin: 15px 0 30px;
    border-color: #ededed
}
@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-moz-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-o-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
body {
    background: #fff;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.4;
    font-family: Poppins, Helvetica, sans-serif;
    color: #555
}
.list_home ul li a:after,
a.wish_bt:after,
footer ul.links li a:after {
    font-family: ElegantIcons
}
main {
    background: #f5f8fa;
    z-index: 1
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333
}
hr.double {
    border-width: 2px
}
ol,
ul {
    margin: 0 0 25px;
    padding: 0
}
p {
    margin-bottom: 25px
}
p.lead {
    font-weight: 300;
    font-size: 20px;
    font-size: 1.25rem
}
strong {
    font-weight: 600
}
.main_title {
    text-align: center;
    margin-bottom: 45px
}
@media (max-width: 767px) {
    .main_title {
        margin-bottom: 15px
    }
}
.main_title h2 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 36px;
    margin: 0
}
@media (max-width: 767px) {
    .main_title h2 {
        font-size: 32px;
        font-size: 2rem
    }
}
@media (max-width: 575px) {
    .main_title h2 {
        font-size: 24px;
        font-size: 1.5rem
    }
}
@media (max-width: 767px) {
    .main_title h1 {
        font-size: 32px;
        font-size: 2rem
    }
}
.main_title p {
    font-weight: 300;
    font-size: 20px;
    color: #777;
    padding: 0 10%
}
@media (max-width: 767px) {
    .main_title p {
        font-size: 18px;
        font-size: 1.125rem;
        padding: 0
    }
}
@media (max-width: 575px) {
    .main_title p {
        font-size: 16px;
        font-size: 1rem
    }
}
.main_title_2 {
    text-align: center;
    margin-bottom: 30px
}
.main_title_2 h3 {
    font-weight: 300;
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0
}
.main_title_2 p {
    font-weight: 300;
    font-size: 20px;
    font-size: 1.25rem;
    color: #777
}
.main_title_3 {
    background-color: #307a09;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px
}
@media (max-width: 991px) {
    .main_title_3 {
        margin-bottom: 30px
    }
}
.main_title_3 h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 5px 0 0;
    color: #fff
}
.main_title_3 h3 strong {
    background-color: #66b53d;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-size: .875rem;
    margin-right: 10px;
    position: relative;
    top: -2px
}
.main_title_3 h3:after,
.main_title_3 h3:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 54px;
    bottom: -42px;
    display: block;
    z-index: 9
}
.main_title_3 h3:before {
    left: 25%;
    background: url(../img/arrow_left.png) no-repeat
}
.main_title_3 h3:after {
    right: 25%;
    background: url(../img/arrow_right.png) no-repeat
}
.main_title_4 {
    background-color: #3f4079;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px
}
@media (max-width: 991px) {
    .main_title_3 h3:after,
    .main_title_3 h3:before {
        display: none
    }
    .main_title_4 {
        margin-bottom: 30px
    }
}
.main_title_4 h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    color: #fff
}
.main_title_4 h3 i {
    position: relative;
    top: 1px;
    margin-right: 5px
}
a {
    color: #e74e84;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.btn_1,
a.btn_1,
header.header_sticky {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}
a:focus,
a:hover {
    color: #333
}
.btn_1,
a.btn_1 {
    border: none;
    color: #fff;
    background: #307a09;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: 0;
    font-size: 14px;
    font-size: .875rem;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    font-weight: 500
}
.btn_1.medium,
a.btn_1.medium {
    padding: 12px 45px;
    font-size: 16px;
    font-size: 1rem
}
.btn_1.full-width,
a.btn_1.full-width {
    display: block;
    text-align: center;
    padding: 12px 45px;
    font-size: 16px;
    font-size: 1rem;
    width: 100%
}
.btn_1:hover,
a.btn_1:hover {
    background: #66b53d
}
.btn_1.outline,
a.btn_1.outline {
    background: 0 0;
    border: 2px solid #307a09;
    color: #fff;
    background-color: #307a09
}
.btn_1.outline:hover,
a.btn_1.outline:hover {
    background: #66b53d;
    color: #fff;
    border: 2px solid #66b53d;
}
footer,
header {
    background-color: #fff
}
header {
    min-height: 55px;
    padding: 10px 0;
    border-bottom: 1px solid transparent
}
header.header_map,
header.header_sticky.sticky,
header.static {
    border-bottom: 1px solid #ededed
}
header.header_sticky {
    width: 100%;
    z-index: 999;
    position: relative;
    transition: all .3s ease-in-out
}
header.header_sticky.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999
}
@media (max-width: 991px) {
    header.header_sticky.sticky {
        position: static
    }
}
header.header_map {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2
}
header.static {
    z-index: 999;
    position: relative
}
@media (max-width: 991px) {
    header .container {
        margin-right: auto!important;
        margin-left: auto!important;
        padding-right: 15px!important;
        padding-left: 15px!important;
        width: 100%!important;
        max-width: 100%
    }
}
ul#top_access {
    float: right;
    position: relative;
    top: 3px;
    margin: -1px 0 0
}
ul#top_access li {
    display: inline-block;
    position: relative;
    padding: 0;
    margin-left: 15px
}
ul#top_access li i {
    font-size: 34px;
    font-size: 2.125rem
}
ul#top_access li a {
    color: #333
}
ul#top_access li a:hover {
    color: #307a09;
}
ul#top_access li#user {
    position: relative;
    padding: 10px 0 0 60px;
    font-weight: 500
}
ul#top_access li#user figure {
    position: absolute;
    left: 15px;
    top: 0;
    width: 35px;
    height: 35px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}
ul#top_access li#user figure img {
    width: auto;
    height: 35px
}
#logo_home h1 {
    margin: 0;
    padding: 0;
    line-height: 1
}
#logo_home h1 a {
    width: 163px;
    height: 36px;
    display: block;
    background: url(../img/logo.png) no-repeat;
    background-size: 163px 36px;
    text-indent: -9999px
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    #logo_home h1 a {
        background-image: url(../img/logo_2x.png);
        background-size: 163px 36px
    }
}
@media (max-width: 991px) {
    ul#top_access {
        right: 0;
        top: 2px
    }
    ul#top_access li#user figure {
        text-indent: 0
    }
    ul#top_access li#user {
        text-indent: -9999px;
        padding: 0;
        margin: 2px 10px 0 0
    }
    #logo,
    #logo_home {
        position: relative;
        left: 45px
    }
}
footer {
    color: #555
}
footer h5 {
    font-size: 14px;
    font-size: .875rem;
    font-weight: 600;
    color: #999;
    margin-bottom: 20px
}
footer ul li {
    margin-bottom: 10px
}
footer ul li a {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block;
    position: relative;
    color: #555
}
footer ul li a:hover {
    color: #e74e84
}
footer ul li a i {
    margin-right: 10px;
    color: #fff
}
footer ul.links li a:hover {
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
    transform: translate(-5px, 0)
}
footer ul.links li a:hover:before {
    opacity: 1
}
footer ul.links li a:before {
    content: "\f177";
    position: absolute;
    margin-left: 5px;
    top: 1px;
    right: -20px;
    opacity: 0;
    font-family: FontAwesome;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
#custom-search-input ul li label,
ul#additional_links li a {
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}
footer ul.contacts li a i {
    margin-right: 10px;
    color: #e74e84
}
footer #copy {
    text-align: right;
    font-size: 13px;
    font-size: .8125rem;
    color: #999
}
@media (max-width: 767px) {
    footer h5 {
        margin-bottom: 10px
    }
    footer ul {
        margin-bottom: 35px
    }
    footer #copy {
        text-align: left;
        margin-bottom: 25px
    }
}
.follow_us ul {
    margin: 0
}
.follow_us ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-size: 1rem
}
.follow_us ul li a i {
    color: #555
}
.follow_us ul li a i:hover {
    color: #e74e84
}
ul#additional_links {
    margin: 0;
    font-size: 13px;
    font-size: .8125rem;
    color: #999
}
ul#additional_links li {
    display: inline-block;
    margin-right: 15px
}
ul#additional_links li:first-child {
    margin-right: 20px
}
ul#additional_links li:last-child:after {
    content: ""
}
ul#additional_links li a {
    opacity: .5;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
ul#additional_links li a:hover {
    opacity: 1
}
ul#additional_links li:after {
    content: "|";
    font-weight: 300;
    position: relative;
    left: 10px
}
.wow {
    visibility: hidden
}
.hero_home {
    height: 500px;
    width: 100%;
    display: table
}
.hero_home.version_1 {
    background: url(../img/hero_home_bg_1.svg) center bottom no-repeat #3f4079;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.hero_home.version_1 .content {
    background-color: #363768;
    background-color: rgba(63, 64, 121, 0)
}
.hero_home.version_2 {
    background: 0 0;
    position: relative;
    overflow: hidden
}
.hero_home.version_2:before {
    background: url(../img/home_1_bg.jpg) center top no-repeat fixed #3f4079;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: pop-in 3s .3s cubic-bezier(0, .5, 0, 1) forwards;
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}
.hero_home.version_2 .content {
    background-color: #3e3f77;
    background-color: rgba(63, 64, 121, .9);
    padding: 0 20%
}
@media (max-width: 991px) {
    .hero_home.version_2 .content {
        padding: 0 10%
    }
}
.hero_home.version_3 {
    background: url(../img/hero_home_bg_1.svg) center bottom no-repeat #3f4079;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
@media (max-width: 767px) {
    .hero_home,
    .hero_home.version_1,
    .hero_home.version_2 {
        height: 450px
    }
    .hero_home.version_2 .content {
        padding: 0 15px
    }
    .hero_home.version_3 {
        height: 450px
    }
}
.hero_home.version_3 .content {
    background-color: #363768;
    background-color: rgba(63, 64, 121, 0);
    padding: 0 25%
}
@media (max-width: 991px) {
    .hero_home.version_3 .content {
        padding: 0 10%
    }
}
@media (max-width: 767px) {
    .hero_home.version_3 .content {
        padding: 0 15px
    }
}
.hero_home.version_3 .content p {
    margin: 0 0 45px
}
.hero_home .content {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    font-size: 1.3125rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    background-color: #3e3f77;
    background-color: rgba(63, 64, 121, .9)
}
@media (max-width: 991px) {
    .hero_home .content {
        padding: 0 30px
    }
}
@media (max-width: 767px) {
    .hero_home .content {
        font-size: 16px;
        font-size: 1rem;
        padding: 0 15px
    }
}
.hero_home .content h3 {
    margin: 0;
    font-size: 60px;
    font-size: 3.75rem;
    font-weight: 700;
    color: #fff
}
@media (max-width: 767px) {
    .hero_home .content h3 {
        font-size: 42px;
        font-size: 2.625rem
    }
}
@media (max-width: 575px) {
    .hero_home .content h3 {
        font-size: 32px;
        font-size: 2rem
    }
}
@keyframes pop-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
}
#hero_video .content h3.animated,
.hero_home .content h3.animated {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-duration: .4s;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s
}
#hero_video .content p.animated,
.hero_home .content p.animated {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    animation-duration: .4s;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s
}
#hero_video .content form.animated,
.hero_home .content form.animated {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-duration: .3s;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s
}
#hero_video .content .btn_1.animated,
.hero_home .content .btn_1.animated {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s
}
#custom-search-input {
    top: 0;
    padding: 0;
    width: 700px;
    margin: auto;
    position: relative
}
@media (max-width: 991px) {
    #custom-search-input {
        width: auto
    }
}
#custom-search-input .search-query {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .35);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .35);
    font-weight: 500;
    font-size: 16px;
    font-size: 1rem;
    color: #333
}
#custom-search-input .search-query:focus {
    outline: 0
}
@media (max-width: 575px) {
    #custom-search-input .search-query {
        padding-left: 15px
    }
}
#custom-search-input ul {
    text-align: center;
    margin-top: 25px
}
#custom-search-input ul li {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 600
}
#custom-search-input ul li input[type=radio] {
    display: none
}
#custom-search-input ul li input[type=radio]:checked+label,
#custom-search-input ul li input[type=radio]:checked+label:hover {
    background-color: #74d1c6;
    color: #fff
}
#custom-search-input ul li input[type=radio]:hover+label {
    background-color: #e74e84;
    color: #fff
}
#custom-search-input ul li label {
    display: inline-block;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #000;
    background-color: rgba(0, 0, 0, .3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 10px 6px;
    line-height: 1;
    text-shadow: none;
    min-width: 80px;
    text-align: center;
    cursor: pointer
}
#custom-search-input ul li:last-child {
    margin-right: 0
}
#custom-search-input input[type=submit] {
    position: absolute;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    right: 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-size: 1rem;
    top: 0;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    outline: 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #74d1c6
}
#reccomended .owl-item,
.box_feat {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px
}
#custom-search-input input[type=submit]:hover {
    background-color: #e74e84
}
@media (max-width: 575px) {
    #custom-search-input input[type=submit] {
        text-indent: -999px;
        background: url(../img/search.svg) center center no-repeat #74d1c6
    }
}
.box_feat {
    background-color: #fff;
    padding: 165px 45px 20px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    margin-bottom: 25px
}
.strip_list,
a.box_cat_home {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05)
}
.box_feat h3 {
    font-size: 21px;
    font-size: 1.3125rem;
    margin-top: 25px;
    color: #e74e84
}
.box_feat#icon_1 {
    background: url(../img/icon-home-1.svg) center 45px no-repeat #fff
}
.box_feat#icon_2 {
    background: url(../img/icon-home-2.svg) center 45px no-repeat #fff
}
.box_feat#icon_3 {
    background: url(../img/icon-home-3.svg) center 45px no-repeat #fff
}
.box_feat span {
    position: absolute;
    top: 50%;
    right: -48px;
    margin: -42px 0 0;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ededed;
    background: url(../img/arrow-gray-1.svg) center center no-repeat #fff;
    display: block;
    z-index: 9
}
.list_home ul li a,
.list_title {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px
}
@media (max-width: 991px) {
    .box_feat span {
        top: 100%;
        left: 50%;
        margin: -20px 0 0 -35px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}
.list_title {
    background-color: #3f4079;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 30px 0;
    text-align: center
}
.list_title i {
    font-size: 42px;
    font-size: 2.625rem;
    margin-bottom: 15px;
    display: inline-block
}
.list_title h3 {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0;
    color: #74d1c6;
    text-transform: uppercase
}
@media (max-width: 575px) {
    .list_title i {
        display: none
    }
    .list_title {
        text-align: left;
        padding: 15px
    }
}
.list_home ul {
    text-align: left
}
.list_home ul li a {
    background-color: #fff;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
    position: relative;
    font-weight: 500;
    color: #555
}
.list_home ul li a strong {
    background-color: #f8f8f8;
    color: #999;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding: 6px;
    display: inline-block;
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px
}
.list_home ul li a:after {
    content: "\24";
    right: 15px;
    top: 15px;
    position: absolute;
    color: #e74e84
}
.list_home ul li a:hover {
    background-color: #e74e84;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff
}
.list_home ul li a:hover:after {
    color: #fff
}
#reccomended {
    margin-top: 40px
}
@media (max-width: 767px) {
    #reccomended {
        margin: 0 0 15px
    }
}
#reccomended .item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 9
}
#reccomended .item .title h4 {
    background-color: #3f4079;
    display: inline-block;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #fff;
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
    font-size: 1rem;
    opacity: 0
}
#reccomended .item .title h4 em {
    display: block;
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 300;
    margin-top: 3px
}
#reccomended .item a {
    position: relative;
    display: block
}
#reccomended .item a .views {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #3f4079;
    color: #fff;
    box-sizing: border-box;
    padding: 3px 6px 4px 5px;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    font-size: .75rem;
    opacity: 0
}
#reccomended .item a .views i {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 3px;
    position: relative;
    top: 1px
}
#reccomended .owl-item {
    opacity: .5;
    transform: scale(.85);
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(.85, .85);
    transition: all .3s ease-in-out 0s;
    border-radius: 5px;
    overflow: hidden
}
#reccomended .owl-item.active.center {
    opacity: 1;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: scale(1)
}
#reccomended .owl-item.active.center .item .title h4,
#reccomended .owl-item.active.center .item .views {
    opacity: 1
}
.owl-theme .owl-dots {
    margin-top: 25px!important
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #e74e84!important
}
a.box_cat_home {
    background-color: #fff;
    display: block;
    padding: 25px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
    color: #999
}
a.box_cat_home i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    font-size: 1.125rem;
    color: #e74e84;
    opacity: 0;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}
.box_list figure a img,
.search_bar_list input[type=submit] {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}
a.box_cat_home h3 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: 10px
}
a.box_cat_home:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px)
}
a.box_cat_home:hover i {
    opacity: 1
}
a.box_cat_home ul {
    margin: 20px -15px -25px;
    padding: 10px;
    border-top: 1px solid #ededed
}
a.box_cat_home ul li {
    display: inline-block
}
a.box_cat_home ul li:first-child {
    float: left
}
a.box_cat_home ul li:last-child {
    float: right
}
a.box_cat_home ul li strong {
    margin-right: 5px;
    font-weight: 600
}
#app_section {
    background: url(../img/hero_bg_1.svg) fixed #3f4079;
    padding: 90px 0 60px;
    color: #fff
}
#app_section .app_buttons {
    position: relative
}
#app_section .app_buttons svg {
    width: 70px;
    height: 70px;
    position: absolute;
    left: -65px;
    top: -55px
}
@media (max-width: 767px) {
    #app_section .app_buttons svg {
        display: none
    }
}
#app_section .app_buttons svg .draw-arrow {
    stroke-width: 4;
    stroke: #fff02a;
    fill: none;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-iteration-count: once;
    -webkit-animation-iteration-count: once;
    -moz-animation-iteration-count: once;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s
}
#app_section .app_buttons svg .draw-arrow.tail-1,
#app_section .app_buttons svg .draw-arrow.tail-2 {
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s
}
#app_section small {
    font-weight: 600;
    font-size: 13px;
    font-size: .8125rem;
    opacity: .6
}
#app_section h3 {
    color: #fff;
    font-size: 32px;
    font-size: 2rem
}
#app_section h3 strong {
    color: #fff02a
}
#app_section p {
    margin-bottom: 60px
}
@media (max-width: 575px) {
    #app_section p {
        font-size: 18px;
        font-size: 1.125rem;
        margin-bottom: 30px
    }
}
.animated .draw-arrow {
    animation-name: draw;
    -webkit-animation-name: draw;
    -moz-animation-name: draw
}
@-webkit-keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}
@-moz-keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}
@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}
.header-video {
    position: relative;
    overflow: hidden;
    background: #000
}
@media (max-width: 991px) {
    #app_section {
        padding: 60px 0 35px
    }
    .header-video {
        height: 450px!important
    }
    .box_list {
        min-height: inherit
    }
}
#hero_video,
iframe {
    height: 100%;
    width: 100%
}
#hero_video {
    position: relative;
    background-size: cover;
    color: #fff;
    display: table;
    z-index: 99
}
#hero_video .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 10%
}
#hero_video .content h3 {
    color: #fff;
    font-size: 3.8rem;
    margin: 0;
    font-weight: 800
}
@media (max-width: 767px) {
    #hero_video .content {
        padding: 0 15px
    }
    #hero_video .content h3 {
        font-size: 1.4rem
    }
}
@media (max-width: 575px) {
    #hero_video .content h3 {
        font-size: 1.8rem
    }
}
#hero_video .content p {
    font-weight: 300;
    font-size: 1.5rem
}
#hero_video .content p strong,
.box_list small {
    font-weight: 600
}
@media (max-width: 767px) {
    #hero_video .content p {
        padding: 0;
        font-size: 1rem
    }
}
@media (max-width: 575px) {
    #hero_video .content p {
        font-size: 1.2rem
    }
}
video {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4
}
.header-video--media,
.teaser-video {
    width: 100%;
    height: auto
}
@media (max-width: 1024px) {
    #hero_video {
        background: url(../img/hero_bg_1.svg) fixed #3f4079
    }
    .header-video {
        background: 0 0
    }
}
#results {
    padding: 20px 0;
    color: #fff;
    background: #3f4079
}
#results.is_stuck {
    z-index: 99
}
#results h4 {
    color: #fff;
    margin: 10px 0 0;
    font-size: 18px;
    font-size: 1.125rem
}
@media (max-width: 767px) {
    #results {
        padding: 10px 0
    }
}
.search_bar_wrapper {
    background-color: #3f4079;
    padding: 15px;
    margin: 0 -15px
}
.search_bar_list {
    position: relative
}
.search_bar_list input[type=text] {
    border: 0;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding-left: 15px
}
.search_bar_list input[type=submit] {
    position: absolute;
    right: -1px;
    color: #fff;
    font-weight: 600;
    top: 0;
    border: 0;
    padding: 0 15px;
    height: 40px;
    cursor: pointer;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #74d1c6;
    transition: all .3s ease-in-out
}
.search_bar_list input[type=submit]:hover {
    background-color: #e74e84
}
.box_list {
    background-color: #fff;
    display: block;
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1)
}
.box_list figure {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 260px
}
.box_list figure .preview {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all .6s;
    transition: all .6s;
    z-index: 2
}
.box_list figure .preview span {
    background-color: #fcfcfc;
    background-color: rgba(255, 255, 255, .8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    color: #222;
    font-size: .75rem;
    padding: 5px 15px
}
.box_list figure:hover .preview {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}
.box_list figure a img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all .3s ease-in-out
}
.box_list figure a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}
.box_list .wrapper {
    padding: 25px
}
.box_list .wrapper h3 {
    font-size: 1.25rem;
    margin-top: 0
}
.box_list small {
    color: #999
}
.box_list ul {
    width: 100%;
    padding: 20px 15px;
    border-top: 1px solid #ededed
}
@media (max-width: 991px) {
    .box_list ul {
        position: static
    }
}
.box_list ul li {
    display: inline-block;
    color: #999;
    font-weight: 500
}
.box_list ul li i {
    margin-right: 5px;
    font-weight: 500
}
@media (max-width: 767px) {
    .box_list figure {
        height: 280px
    }
    .box_list .wrapper p {
        font-size: 13px;
        font-size: .8125rem
    }
    .box_list ul li:first-child {
        display: none
    }
}
.box_list ul li:nth-child(2) {
    display: none
}
.box_list.home ul li:first-child,
.box_list.home ul li:last-child,
.box_list.home ul li:nth-child(2),
.strip_list h3,
a.wish_bt {
    display: inline-block
}
.box_list ul li a {
    color: #999;
    font-weight: 500
}
.box_list ul li a:hover {
    color: #e74e84
}
.box_list ul li:last-child {
    margin-right: 0;
    float: right
}
.box_list ul li:last-child a {
    background: #fff;
    border: 2px solid #e74e84;
    color: #e74e84;
    padding: 5px 20px;
    font-weight: 500;
    line-height: 1;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px
}
.box_list ul li:last-child a:hover {
    background: #e74e84;
    color: #fff
}
a.wish_bt {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    background-color: #000;
    background-color: rgba(0, 0, 0, .6);
    padding: 9px 10px;
    color: #fff;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease
}
#review_summary,
.strip_list {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px
}
.datepicker .day:hover,
.strip_list ul li:last-child a {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}
a.wish_bt:after {
    content: "\e030"
}
a.wish_bt:hover:after {
    content: "\e089";
    color: #ffffff
}
.strip_list {
    margin-bottom: 25px;
    background-color: #fff;
    padding: 20px 15px 15px 115px;
    border-radius: 5px;
    position: relative;
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05)
}
.strip_list a.wish_bt {
    background-color: #000;
    background-color: rgba(0, 0, 0, .05);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    color: #555
}
.strip_list a.wish_bt:hover:after {
    color: #307a09
}
.strip_list figure {
    width: 80px;
    height: 80px;
    position: absolute;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    left: 15px;
    top: 15px
}
.strip_list figure img {
    width: auto;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
}
.strip_list h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.strip_list p {
    margin-bottom: 15px;
    margin-right: 10px;
}
@media (max-width: 767px) {
    .box_list ul li:nth-child(2) {
        display: inline-block
    }
    .strip_list {
        padding: 20px 15px 15px 90px
    }
    .strip_list figure img {
        height: 60px
    }
    .strip_list figure {
        width: 60px;
        height: 60px
    }
    .strip_list p {
        font-size: 13px;
        font-size: .8125rem
    }
}
.strip_list small {
    color: #999;
    display: block;
    font-weight: 600
}
.strip_list ul {
    border-top: 1px solid #ededed;
    margin: 15px 0 0 0;
    padding: 20px 15px
}
@media (max-width: 767px) {
    .strip_list ul {
        margin: 15px 0 0 0
    }
}
.strip_list ul li {
    display: inline-block;
    margin-right: 5px;
    font-weight: 500
}
.strip_list ul li a {
    color: #999;
    cursor: pointer
}
.strip_list ul li a:hover {
    color: #e74e84
}
.strip_list ul li:first-child:after {
    content: '';
    font-weight: 400;
    margin-left: 0;
    color: #ccc
}
.strip_list ul li:last-child {
    float: right;
    margin-right: 10px
}
.strip_list ul li:last-child a {
    border: 2px solid #e74e84;
    color: #e74e84;
    cursor: pointer;
    padding: 5px 20px;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px
}
.strip_list ul li:last-child a:hover {
    background-color: #e74e84;
    color: #fff!important
}
@media (max-width: 991px) {
    .strip_list ul li:first-child {
        display: none
    }
}
.rating i {
    color: #ddd;
    font-size: 13px;
    font-size: .8125rem
}
.rating i.voted {
    color: #FFC107
}
.rating small {
    margin-bottom: 0;
    display: inline-block;
    font-size: 12px;
    font-size: .75rem
}
.rating small a {
    color: #999;
    text-decoration: underline
}
.infoBox {
    padding-right: 50px!important
}
.infoBox>img {
    position: absolute!important;
    right: 60px!important;
    top: 10px!important;
    z-index: 9999999
}
.marker_info {
    width: 200px;
    padding: 20px 15px 15px;
    height: 250px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #fefefe;
    background-color: rgba(255, 255, 255, .9);
    position: relative;
    z-index: 99999;
    font-family: Poppins, Helvetica, sans-serif
}
.marker_info figure {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: auto auto 10px;
    position: relative;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px
}
.marker_info figure img {
    width: auto;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.marker_info h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 0 0 10px
}
.marker_info h3 a {
    color: #e74e84
}
.marker_info h3 a:hover {
    color: #333
}
.marker_info small {
    font-size: 10px;
    font-size: .625rem;
    color: #999;
    font-weight: 600
}
.marker_info span {
    display: block;
    padding: 0;
    font-size: 12px;
    font-size: .75rem;
    margin-bottom: 10px
}
.marker_info:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(255, 255, 255, .9);
    border-width: 10px;
    margin-top: -10px
}
.btn_infobox_get_directions:before,
.btn_infobox_phone:before {
    font-family: ElegantIcons;
    font-size: 14px;
    font-size: .875rem;
    cursor: pointer;
    position: relative;
    left: 0;
    top: 2px;
    color: #e74e84;
    margin-right: 8px
}
.btn_infobox_get_directions,
.btn_infobox_phone {
    border: none;
    display: block;
    font-weight: 500;
    color: #555;
    background: 0 0;
    font-size: 12px;
    outline: 0;
    cursor: pointer
}
.btn_infobox_get_directions {
    font-size: .75rem
}
.btn_infobox_get_directions:before {
    content: "\e081"
}
.btn_infobox_phone {
    font-size: .75rem
}
.btn_infobox_phone:before {
    content: "\e090"
}
.full-height {
    height: 100%
}
@media (max-width: 991px) {
    .full-height {
        height: auto
    }
}
.row-height {
    height: 100%;
    min-height: 100%
}
@media (max-width: 991px) {
    .row-height {
        height: auto
    }
}
.map-right {
    height: 100%;
    min-height: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0
}
@media (max-width: 991px) {
    .map-right {
        height: 400px;
        position: static;
        min-height: inherit
    }
}
#map_listing {
    height: 100%;
    width: 100%
}
#map_listing.normal_list {
    height: 495px;
    width: auto;
    border: 3px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px
}
.content-left {
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    padding-top: 55px;
    background-color: #f5f8fa
}
.search_bar {
    margin-bottom: 15px;
    position: relative
}
.search_bar input[type=submit] {
    position: absolute;
    right: 8px;
    top: 2px;
    text-indent: -9999px;
    border: 0;
    width: 35px;
    height: 35px;
    background: url(../img/search.svg) center right no-repeat;
    cursor: pointer
}
.filters_listing {
    border-bottom: 1px solid #e1e8ed;
    padding: 15px 0
}
.filters_listing.map_listing {
    border-bottom: none
}
.filters_listing ul {
    margin: 0
}
.filters_listing ul li {
    margin-right: 10px
}
.filters_listing ul li h6 {
    font-size: 12px;
    font-size: .75rem;
    color: #999;
    margin-bottom: 5px
}
.filters_listing ul li:first-child {
    float: left
}
.filters_listing ul li:nth-child(2) {
    float: right;
    margin-right: 0
}
@media (max-width: 767px) {
    .filters_listing ul li h6 {
        display: none
    }
    .filters_listing ul li:nth-child(2) {
        float: left
    }
}
.filters_listing ul li:nth-child(3) {
    float: right
}
@media (max-width: 767px) {
    .filters_listing ul li:nth-child(3) {
        float: left;
        clear: both
    }
}
.layout_view {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 8px 5px;
    margin-bottom: 5px
}
.layout_view a {
    color: #3f4079
}
.layout_view a.active {
    color: #ccc;
    cursor: default
}
.layout_view a:hover {
    color: #e74e84
}
.switch-field {
    overflow: hidden;
    float: right
}
.switch-field input {
    position: absolute!important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden
}
.switch-field input:checked+label {
    background-color: #3f4079;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff
}
.switch-field label {
    float: left;
    display: inline-block;
    min-width: 70px;
    background-color: #fff;
    color: #333;
    font-weight: 600;
    font-size: 12px;
    font-size: .75rem;
    text-align: center;
    text-shadow: none;
    padding: 10px 15px 8px;
    line-height: 1;
    border: 1px solid #e1e8ed;
    border-right: 0;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.sbSelector,
.sbToggle {
    height: 32px;
    top: 0;
    line-height: 32px;
    display: block;
    outline: 0;
}
.switch-field label:first-of-type {
    border-radius: 3px 0 0 3px
}
.switch-field label:last-of-type {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e1e8ed
}
.switch-field label:hover {
    cursor: pointer;
    color: #e74e84
}
.sbHolder {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    height: 32px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    min-width: 160px
}
.sbOptions,
.sbSelector,
.sbToggle {
    position: absolute
}
.sbSelector {
    left: 0;
    overflow: hidden;
    text-indent: 10px;
    width: 100%
}
.sbSelector:hover,
.sbSelector:link,
.sbSelector:visited {
    outline: 0;
    text-decoration: none;
    color: #3f4079;
    font-weight: 600;
    font-size: 12px;
    font-size: .75rem
}
.sbToggle {
    right: 0;
    /* width: 35px; */
    
    text-align: center;
    left: 0;
}
.sbToggle:after {
    font-family: ElegantIcons;
    font-size: 14px;
    content: "\43";
    color: #3f4079;
    text-align: center
}
.sbHolderDisabled {
    background-color: #ededed;
    border: 1px solid #ededed
}
.sbOptions {
    background-color: #fff;
    border: 1px solid #ededed;
    left: -1px;
    right: -1px;
    margin: 0;
    padding: 0;
    top: 40px;
    z-index: 10;
    font-size: 12px;
    font-size: .75rem
}
.sbOptions li {
    padding: 0 7px;
    float: none!important;
    border-bottom: solid 1px #ededed;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 100%
}
.sbOptions li:last-child {
    border-bottom: none;
    float: none!important;
    margin: 0;
    padding-left: 10px
}
.sbOptions li:hover {
    color: #e74e84
}
.sbOptions a {
    display: block;
    outline: 0;
    padding: 7px 0 7px 3px;
    text-transform: capitalize
}
#error_page h2,
#sidebar_detail h4,
.box_profile small,
.profile small {
    text-transform: uppercase
}
.sbOptions a:link,
.sbOptions a:visited {
    color: #555;
    text-decoration: none
}
.sbOptions a.sbFocus,
.sbOptions a:focus,
.sbOptions a:hover {
    color: #e74e84
}
.sbOptions li.last a {
    border-bottom: none
}
.sbOptions .sbDisabled,
.sbOptions .sbGroup {
    border-bottom: dotted 1px #fff;
    display: block;
    padding: 7px 0 7px 3px
}
.sbOptions .sbDisabled {
    color: #999
}
.sbOptions .sbGroup {
    color: #555;
    font-weight: 700
}
.sbOptions .sbSub {
    padding-left: 17px
}
#breadcrumb {
    background-color: #3f4079;
    padding: 25px 0;
    line-height: 1;
    color: #fff
}
#breadcrumb ul {
    margin: 0;
    font-size: 13px;
    font-size: .8125rem
}
#breadcrumb ul li {
    display: inline-block;
    padding-right: 8px;
    margin-right: 3px;
    position: relative
}
#breadcrumb ul li a {
    color: #fff
}
#breadcrumb ul li a:hover {
    color: #74d1c6
}
#breadcrumb ul li:after {
    content: "\e9ee";
    font-family: fontello;
    position: absolute;
    right: 0;
    top: 0
}
#breadcrumb ul li:last-child {
    opacity: .7
}
#breadcrumb ul li:last-child:after {
    content: '';
    margin-right: 0
}
.tabs_styled_2 .nav-tabs .nav-item.show .nav-link,
.tabs_styled_2 .nav-tabs .nav-link.active {
    color: #333;
    background-color: #fff;
    border-color: #e1e8ed;
    border-bottom: 1px solid transparent
}
@media (max-width: 767px) {
    #breadcrumb {
        padding: 15px 0
    }
    .tabs_styled_2 .nav-tabs .nav-item.show .nav-link,
    .tabs_styled_2 .nav-tabs .nav-link.active {
        border: 1px solid transparent
    }
}
.tabs_styled_2 .nav-tabs .nav-link.active:hover,
.tabs_styled_2 .nav-tabs .nav-link:focus {
    border-color: #e1e8ed;
    border-bottom: 1px solid transparent
}
@media (max-width: 767px) {
    .tabs_styled_2 .nav-tabs .nav-link.active:hover,
    .tabs_styled_2 .nav-tabs .nav-link:focus {
        border: 1px solid transparent
    }
}
.tabs_styled_2 .nav-tabs .nav-link:hover {
    border-color: transparent
}
@media (max-width: 767px) {
    .tabs_styled_2 .nav-item {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid #e1e8ed;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px
    }
}
.tabs_styled_2 .nav-tabs .nav-link {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 16px;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    margin-right: 5px
}
@media (max-width: 767px) {
    .tabs_styled_2 .nav-tabs .nav-link {
        margin-right: 0;
        padding: .5rem
    }
}
.tabs_styled_2 .nav-tabs {
    border-bottom: 1px solid #e1e8ed
}
.tabs_styled_2 .tab-pane {
    background-color: #fff;
    padding: 30px 30px 20px;
    border: 1px solid #e1e8ed;
    border-top: none
}
.tabs_styled_2 .tab-pane hr {
    margin: 30px -30px;
    border-color: #ededed
}
.indent_title_in {
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px
}
.indent_title_in i {
    font-size: 40px;
    position: absolute;
    left: 0;
    color: #3f4079;
    top: 0
}
@media (max-width: 767px) {
    .indent_title_in {
        padding-left: 0
    }
    .indent_title_in i {
        position: static
    }
}
.indent_title_in h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 21px
}
.indent_title_in p {
    color: #999;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: .875rem
}
.wrapper_indent {
    padding-left: 60px
}
@media (max-width: 767px) {
    .wrapper_indent {
        padding-left: 0
    }
}
ul.list_edu {
    margin-bottom: 0;
    line-height: 1.8
}
ul.list_edu li:before {
    font-family: fontello;
    content: "\ea3e";
    margin-right: 8px;
    color: #ccc
}
ul.list_edu li strong {
    font-weight: 500
}
#review_summary {
    text-align: center;
    background-color: #3f4079;
    color: #fff;
    padding: 20px 10px;
    border-radius: 5px
}
@media (max-width: 991px) {
    #review_summary {
        margin-bottom: 15px
    }
}
#review_summary strong {
    font-size: 3rem;
    line-height: 1
}
.reviews-container .progress {
    margin-bottom: 10px
}
.reviews-container .progress-bar {
    background-color: #74d1c6
}
.reviews-container .review-box {
    position: relative;
    margin-bottom: 25px;
    padding-left: 100px;
    min-height: 100px
}
.reviews-container .rev-thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden
}
.reviews-container .rev-thumb img {
    width: 80px;
    height: auto
}
@media (max-width: 767px) {
    .reviews-container .review-box {
        padding-left: 0
    }
    .reviews-container .rev-thumb {
        position: static;
        margin-bottom: 10px
    }
}
.reviews-container .rev-content {
    position: relative;
    padding: 25px 25px 0;
    border: 1px solid #ededed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px
}
.box_profile ul.statistic li,
ul.time_select li label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px
}
.reviews-container .rev-info {
    font-size: .75rem;
    font-style: italic;
    color: #777;
    margin-bottom: 10px
}
#calendar {
    padding: 0;
    margin-bottom: 30px
}
#calendar .datepicker.datepicker-inline,
#calendar .datepicker.datepicker-inline table {
    width: 100%
}
.datepicker thead tr th.next:hover,
.datepicker thead tr th.prev:hover {
    color: #e74e84
}
.datepicker .disabled.disabled-date.day,
.datepicker .disabled.disabled-date.day:hover {
    background-color: #eb525b!important;
    color: #fff!important
}
.datepicker .day:hover {
    background: #8ec549!important;
    color: #fff;
    transition: all .3s ease-in-out
}
.datepicker .active.day:hover {
    background: #333!important;
    color: #fff
}
ul.legend li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    padding-left: 30px
}
ul.legend li strong {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -2px
}
ul.legend li:first-child strong {
    background-color: #8ec549
}
ul.legend li:last-child strong {
    background-color: #eb525b
}
ul.time_select.version_2 li {
    float: left;
    width: 50%
}
ul.time_select li input[type=radio] {
    display: none;
    cursor: pointer
}
ul.time_select li input[type=radio]:checked+label {
    background-color: #333;
    color: #fff
}
ul.time_select li label {
    display: inline-block;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 8px 10px 6px;
    line-height: 1;
    min-width: 100px;
    margin: 5px;
    text-align: center;
    cursor: pointer
}
ul.time_select li label:hover {
    background-color: #66b53d;
    color: #fff
}
#sidebar_detail #map,
.box_profile {
    background-color: #fff;
    text-align: center
}
ul.treatments {
    margin-bottom: 45px
}
ul.treatments li {
    border-bottom: 1px dotted #ddd;
    width: 45%;
    float: left;
    margin: 15px
}
@media (max-width: 991px) {
    ul.treatments li {
        width: auto;
        float: none
    }
}
input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}
input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 35px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 3px;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease
}
.checkbox_2 label:after,
a.social_bt {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}
input[type=checkbox].css-checkbox:hover+label.css-label {
    background-position: 0 -28px
}
input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -56px
}
label.css-label {
    background-image: url(../img/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    display: block
}
label.css-label strong {
    float: right
}
#sidebar_detail {
    position: relative;
    top: -240px
}
#sidebar_detail #map {
    width: 100%;
    height: 350px;
    border: 5px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    margin-bottom: 25px
}
.box_form,
.box_profile {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px
}
#sidebar_detail h4 {
    color: #6d7b84;
    font-size: 18px;
    font-size: 1.125rem
}
.box_profile {
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    padding: 0 25px 25px;
    margin-bottom: 35px
}
.box_profile ul.statistic li,
.profile ul.statistic li {
    background-color: #66b53d;
    font-weight: 600;
    min-width: 95px;
    display: inline-block
}
.booking .title,
.box_profile figure {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0
}
.box_profile figure {
    margin: -1px -26px 25px;
    border-radius: 5px 5px 0 0;
    overflow: hidden
}
@media (max-width: 991px) {
    .box_profile figure {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        margin: 25px auto
    }
}
.box_profile .rating {
    margin-bottom: 20px;
    display: inline-block
}
.box_profile small {
    color: #999;
    font-weight: 600
}
.box_profile h1 {
    font-size: 21px;
    font-size: 1.3125rem
}
.box_profile p {
    color: #999
}
.box_profile ul.statistic {
    padding-bottom: 5px
}
.box_profile ul.statistic li {
    border-radius: 3px;
    line-height: normal;
    color: #fff;
    padding: 3px 10px;
    font-size: 12px;
    font-size: .75rem
}
.box_profile ul.contacts {
    text-align: right;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 25px;
    margin: 0 -25px 25px
}
#login h1,
#login-2 h1,
#pass-info,
#register h1,
.divider,
a.social_bt {
    text-align: center
}
.box_profile ul.contacts li {
    margin-bottom: 15px
}
.box_profile ul.contacts li h6 {
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 3px
}
.box_profile ul.contacts li:last-child {
    margin-bottom: 0
}
.profile {
    padding-top: 20px
}
@media (max-width: 767px) {
    .profile {
        padding-top: 0
    }
}
.profile .rating {
    margin-bottom: 15px;
    display: inline-block
}
.profile small {
    color: #999;
    font-weight: 600
}
.profile h1 {
    font-size: 24px;
    font-size: 1.5rem
}
.profile p {
    color: #999
}
.profile ul.statistic {
    padding-bottom: 5px;
    margin-bottom: 15px
}
.profile ul.statistic li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: 1;
    color: #fff;
    padding: 8px 10px 5px;
    font-size: 12px;
    font-size: .75rem;
    text-align: center
}
.profile ul.contacts {
    margin: 25px 0 0
}
.profile ul.contacts li {
    margin-bottom: 15px
}
.profile ul.contacts li h6 {
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 3px
}
.profile ul.contacts li:last-child {
    margin-bottom: 0
}
.booking .title {
    background-color: #3f4079;
    color: #fff;
    margin: -30px -30px 30px;
    padding: 20px 30px;
    border-radius: 5px 5px 0 0
}
.booking .title h3 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0;
    color: #fff
}
.booking .title small {
    font-size: 13px;
    font-size: .8125rem
}
.booking hr {
    margin-top: 15px!important
}
.booking ul.treatments {
    margin: 15px 0 0
}
.booking ul.treatments li {
    border-top: 1px dotted #ddd;
    border-bottom: none;
    width: 100%;
    margin: 0;
    padding: 12px 0 5px
}
@media (max-width: 991px) {
    .box_profile ul.contacts {
        text-align: center
    }
    .booking ul.treatments li {
        width: auto;
        float: none
    }
}
#secondary_nav {
    background-color: #3f4079;
    position: relative;
    bottom: -3px;
    border-bottom: none;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 15px
}
#secondary_nav.is_stuck {
    z-index: 99999999!important;
    width: 100%!important;
    bottom: inherit;
    left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0
}
#secondary_nav ul {
    margin: 0
}
#secondary_nav ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    font-size: 1rem;
    margin-right: 25px
}
#secondary_nav ul li:last-child {
    display: none;
    margin-right: 0
}
@media (max-width: 991px) {
    #secondary_nav ul li:last-child {
        display: inline-block
    }
}
#secondary_nav ul li a {
    color: #74d1c6
}
#secondary_nav ul li a.active,
#secondary_nav ul li a:hover {
    color: #fff
}
#section_1,
#section_2,
#section_3 {
    padding-bottom: 30px
}
#login {
    width: 400px;
    margin: 60px auto;
    color: #fff
}
#login h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0 0 30px;
    color: #fff
}
@media (max-width: 767px) {
    #secondary_nav ul li {
        margin-right: 15px
    }
    #login {
        width: 100%;
        margin: 30px 0
    }
    #login h1 {
        font-size: 21px;
        font-size: 1.3125rem
    }
}
.divider {
    height: 1px;
    margin: 30px 0;
    background-color: #e1e8ed
}
.divider span {
    position: relative;
    top: -20px;
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    font-style: italic
}
.link_bright a {
    color: #e74e84
}
.link_bright a:hover {
    color: #fff02a
}
#login-2 {
    width: 650px;
    margin: 60px auto;
    color: #fff
}
#login-2 .box_form {
    padding: 30px 0 0
}
#login-2 .forgot {
    display: inline-block;
    margin-top: 5px
}
@media (max-width: 767px) {
    #login-2 .box_form {
        padding: 20px 20px 0
    }
    #login-2 {
        width: 100%;
        margin: 0
    }
}
#login-2 h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0 0 30px;
    color: #fff
}
.box_login {
    width: 50%;
    float: left;
    border-right: 1px solid #e1e8ed;
    padding: 15px 25px
}
@media (max-width: 767px) {
    .box_login {
        width: 100%;
        border-right: 0;
        padding: 0
    }
}
.box_login.last {
    border-right: 0
}
a.social_bt {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    min-width: 200px;
    margin-bottom: 15px;
    display: block;
    padding: 12px;
    line-height: 1;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer
}
a.social_bt:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%)
}
a.social_bt.facebook:before,
a.social_bt.google:before,
a.social_bt.linkedin:before {
    font-family: ElegantIcons;
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 1rem;
    color: #fff
}
a.social_bt.facebook {
    background-color: #3B5998
}
a.social_bt.facebook:before {
    content: "\e093"
}
a.social_bt.google {
    background-color: #DC4E41
}
a.social_bt.google:before {
    content: "\e096";
    top: 12px
}
a.social_bt.linkedin {
    background-color: #0077B5
}
a.social_bt.linkedin:before {
    content: "\e09d"
}
.checkbox_2 label:after,
.checkbox_2:before {
    content: '';
    position: absolute
}
#register {
    margin: 60px auto;
    color: #fff
}
#register h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0 0 30px;
    color: #fff
}
.checkbox_2 {
    position: relative;
    display: block
}
.checkbox_2:before {
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #e1e8ed;
    background: 0 0
}
.checkbox_2 input[type=checkbox]:focus+label:before {
    background-color: #e53c78;
    background-color: rgba(231, 78, 132, .2)
}
.checkbox_2 label:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    opacity: 0;
    background: #e74e84;
    transition: all .3s ease-in-out
}
.checkbox_2 input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0
}
.checkbox_2 input[type=checkbox]:checked+label:after {
    opacity: 1
}
.checkbox-holder span {
    position: relative;
    display: inline-block;
    margin: 2px 0 0 30px
}
#pass-info {
    width: 100%;
    margin-bottom: 15px;
    color: #555;
    font-size: 12px;
    font-size: .75rem;
    padding: 5px 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px
}
#pass-info.weakpass {
    border: 1px solid #FF9191;
    background: #FFC7C7;
    color: #94546E
}
#pass-info.stillweakpass {
    border: 1px solid #FBB;
    background: #FDD;
    color: #945870
}
#pass-info.goodpass {
    border: 1px solid #C4EEC8;
    background: #E4FFE4;
    color: #51926E
}
#pass-info.strongpass {
    border: 1px solid #6ED66E;
    background: #79F079;
    color: #348F34
}
#pass-info.vrystrongpass {
    border: 1px solid #379137;
    background: #48B448;
    color: #CDFFCD
}
#error_page,
#hero_register {
    background: url(../img/hero_bg_1.svg) fixed #3f4079
}
#hero_register,
#hero_register h1 {
    color: #fff
}
@media (max-width: 767px) {
    #hero_register h1 {
        font-size: 32px;
        font-size: 2rem
    }
}
.box_feat_2 {
    position: relative;
    padding-left: 60px
}
.box_feat_2 h3 {
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff02a
}
.box_feat_2 i {
    font-size: 46px;
    font-size: 2.875rem;
    margin-bottom: 10px;
    color: #74d1c6;
    position: absolute;
    left: 0;
    top: 0
}
#error_page {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff
}
#error_page h2 {
    font-size: 140px;
    font-size: 8.75rem;
    color: #fff;
    font-weight: 700;
    line-height: 1
}
#error_page h2 i {
    color: #fff02a
}
@media (max-width: 767px) {
    #error_page h2 {
        font-size: 72px;
        font-size: 4.5rem
    }
    #error_page {
        padding: 0;
        height: 450px
    }
}
#error_page p {
    font-size: 21px;
    font-size: 1.3125rem
}
.search_bar_error {
    position: relative;
    margin-bottom: 60px
}
.search_bar_error input[type=text] {
    border: 0;
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding-left: 15px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .35);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .35)
}
.search_bar_error input[type=submit] {
    position: absolute;
    right: 0;
    color: #fff;
    font-weight: 600;
    top: 0;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #74d1c6;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
#contact_info ul li strong,
.box_form label,
.box_general_3.cart label,
.error_message,
.summary ul li strong,
ul.treatments.checkout li strong {
    font-weight: 500
}
#toTop,
.form_title h3 strong {
    width: 40px;
    height: 40px;
    text-align: center
}
.form_title h3 strong,
.search_bar_error input[type=submit]:hover {
    background-color: #e74e84
}
#contact_info {
    margin: 35px 0 0
}
#contact_info h3 {
    font-size: 18px;
    font-size: 1.125rem
}
#contact_info h4 {
    font-size: 14px;
    font-size: .875rem
}
#contact_info ul li {
    margin-bottom: 15px
}
#contact_info ul li strong {
    display: block
}
#map_contact {
    width: 100%;
    height: 500px
}
@media (max-width: 767px) {
    #contact_info {
        margin: 0 0 35px
    }
    #map_contact {
        height: 350px
    }
}
.error_message {
    color: #f26c4f;
    display: inline-block;
    margin-bottom: 10px
}
.form_title {
    position: relative;
    padding-left: 55px;
    margin-bottom: 10px
}
.form_title h3 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-size: 1.3125rem
}
.form_title h3 strong {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 42px;
    position: absolute;
    left: 0;
    top: -5px
}
.form_title p {
    color: #999;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 14px
}
.cards {
    margin-top: 28px
}
.step {
    padding: 20px 0 0 55px;
    margin: 0
}
@media (max-width: 991px) {
    .cards {
        display: none
    }
    .step {
        padding-left: 0
    }
}
.message {
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px
}
.bg_color_1,
.box_form {
    background-color: #fff
}
.message p {
    margin: 0
}
.summary ul {
    margin: 0 0 15px;
    padding: 0
}
.summary ul li {
    margin-bottom: 10px
}
ul.treatments.checkout {
    margin: 0;
    padding: 0
}
.box_general hr,
.box_general_2 hr {
    margin-left: -30px;
    margin-right: -30px
}
ul.treatments.checkout li {
    margin-bottom: 8px
}
ul.treatments.checkout li.total {
    text-transform: uppercase;
    color: #3f4079;
    font-weight: 500;
    font-size: 18px;
    font-size: 1.125rem
}
#confirm {
    text-align: center
}
@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}
@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }
    100% {
        stroke-dashoffset: 0
    }
}
@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}
@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}
@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }
    100% {
        stroke-dashoffset: 480px
    }
}
.inlinesvg .svg svg {
    display: inline
}
.icon--order-success svg path {
    -webkit-animation: checkmark .25s ease-in-out .7s backwards;
    animation: checkmark .25s ease-in-out .7s backwards
}
.icon--order-success svg circle {
    -webkit-animation: checkmark-circle .6s ease-in-out backwards;
    animation: checkmark-circle .6s ease-in-out backwards
}
.bg_color_2 {
    background: url(../img/hero_bg_1.svg) fixed #3f4079
}
.form-control {
    font-size: 14px;
    font-size: .875rem;
    min-height: 40px;
    border-color: #e1e8ed
}
#booking .loader {
    position: absolute;
    right: 15px;
    top: 13px;
    color: #fff
}
.box_form {
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    margin-bottom: 25px;
    color: #555
}
.box_general,
.box_general_2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    background-color: #fff;
    padding: 30px
}
.box_form label {
    font-size: 13px;
    font-size: .8125rem;
    margin-bottom: 3px
}
.box_form .form-group {
    margin-bottom: 25px
}
.box_general {
    border-radius: 5px;
    margin-bottom: 15px;
    color: #555;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05)
}
.box_general_2 {
    border-radius: 5px;
    margin-bottom: 25px;
    border: 1px solid #e1e8ed
}
.box_badges,
.box_general_3 {
    -moz-border-radius: 5px;
    -ms-border-radius: 5px
}
.box_general_3 {
    background-color: #fff;
    padding: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #e1e8ed
}
.box_general_3 hr {
    margin: 30px -30px
}
ul.bullets {
    line-height: 1.8;
    margin-bottom: 0
}
ul.bullets li {
    position: relative;
    padding-left: 20px
}
ul.bullets li:before {
    font-style: normal;
    font-weight: 400;
    font-family: ElegantIcons;
    font-size: 14px;
    content: "\5c";
    color: #ccc;
    position: absolute;
    left: 0;
    top: 0
}
.box_faq {
    position: relative;
    padding-left: 50px
}
.box_faq h4 {
    font-size: 18px;
    font-size: 1.125rem
}
.box_faq i {
    font-size: 36px;
    font-size: 2.25rem;
    position: absolute;
    left: 0;
    top: 0;
    color: #999
}
.add_bottom_15 {
    margin-bottom: 15px
}
.add_bottom_30 {
    margin-bottom: 30px
}
.add_bottom_45 {
    margin-bottom: 45px
}
@media (max-width: 767px) {
    .add_bottom_45 {
        margin-bottom: 30px
    }
}
.add_bottom_60 {
    margin-bottom: 60px
}
.add_bottom_75 {
    margin-bottom: 75px
}
.add_top_20 {
    margin-top: 20px
}
.add_top_30 {
    margin-top: 30px
}
.add_top_60 {
    margin-top: 60px
}
.more_padding_left {
    padding-left: 40px
}
.nomargin_top {
    margin-top: 0
}
.nomargin,
.nopadding {
    margin: 0!important
}
.nopadding {
    padding: 0!important
}
.margin_60 {
    padding-top: 60px;
    padding-bottom: 60px
}
@media (max-width: 767px) {
    .margin_60 {
        padding-top: 30px;
        padding-bottom: 30px
    }
}
.margin_60_35 {
    padding-top: 73px;
    padding-bottom: 35px
}
@media (max-width: 767px) {
    .margin_60_35 {
        padding-top: 30px;
        padding-bottom: 5px
    }
}
.margin_120 {
    padding-top: 120px;
    padding-bottom: 120px
}
@media (max-width: 991px) {
    .margin_120 {
        padding-top: 60px;
        padding-bottom: 35px
    }
}
.margin_120_95 {
    padding-top: 120px;
    padding-bottom: 95px
}
@media (max-width: 991px) {
    .margin_120_95 {
        padding-top: 60px;
        padding-bottom: 35px
    }
}
@media (max-width: 767px) {
    .margin_120_95 {
        padding-top: 30px;
        padding-bottom: 5px
    }
}
#toTop {
    background-color: #000;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    line-height: 20px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    z-index: 99
}
#toTop:before {
    font-family: fontello;
    content: "\e899"
}
.box_badges {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    padding: 30px 25px 5px;
    position: relative;
    margin-bottom: 30px
}
.box_badges h3 {
    font-size: 21px;
    font-size: 1.3125rem
}
.box_badges ul li {
    display: inline-block;
    background-color: #74d1c6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    line-height: normal;
    color: #fff;
    padding: 3px 10px;
    font-weight: 600;
    font-size: 13px;
    font-size: .8125rem;
    min-width: 120px;
    margin-bottom: 5px
}
#badge_level_1,
#badge_level_2,
#badge_level_3,
#badge_level_4,
#badge_level_5,
#badge_level_6 {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    position: relative
}
.disabled_badge {
    opacity: .8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform
}
.disabled_badge:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    opacity: 1
}
.disabled_badge i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -45px;
    z-index: 9;
    width: 40px;
    height: 40px;
    color: rgba(0, 0, 0, .6);
    text-indent: 0;
    font-size: 40px;
    font-size: 2.5rem
}
.disabled_badge i:before {
    margin: 0
}
.disabled_badge:hover i {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.badge_list_1 {
    position: relative;
    margin-left: -65px
}
.page-item.active .page-link {
    background-color: #3f4079;
    border-color: #3f4079
}
.page-item.disabled .page-link {
    color: #999;
    border-color: #e1e8ed
}
.page-link {
    color: #e74e84;
    border: 1px solid #e1e8ed
}
.page-link:focus,
.page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e74e84;
    border-color: #e74e84
}
#cookie-bar {
    background: rgba(0, 0, 0, .8);
    height: auto;
    line-height: 24px;
    color: #eee;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 500
}
#cookie-bar p {
    margin: 0;
    padding: 0
}
#cookie-bar a {
    color: #fff;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    padding: 2px 10px;
    margin-left: 8px
}
#cookie-bar .cb-enable {
    background: #74d1c6
}
#cookie-bar .cb-enable:hover {
    background: #fff;
    color: #74d1c6
}
#cookie-bar .cb-disable {
    background: #900
}
#cookie-bar .cb-disable:hover {
    background: #b00
}
#cookie-bar .cb-policy {
    background: #e74e84
}
#cookie-bar .cb-policy:hover {
    background: #fff;
    color: #e74e84
}
#cookie-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999
}
#cookie-bar.fixed.bottom {
    bottom: 0;
    top: auto
}
@media (max-width: 767px) {
    #cookie-bar a {
        display: block;
        max-width: 150px;
        margin: auto auto 5px
    }
    #cookie-bar {
        padding: 5px 0
    }
}
.form-control:disabled#booking_date,
.form-control:disabled#booking_time,
.form-control[readonly]#booking_date,
.form-control[readonly]#booking_time {
    background-color: #fff;
    opacity: 1
}
.td-wrap,
div.datedropper {
    font-family: Poppins, Helvetica, sans-serif!important
}
div.datedropper .picker .pick-lg ul.pick-lg-b li.pick-v:hover {
    text-decoration: none!important
}
div.datedropper.primary .pick-lg-b .pick-sl:before,
div.datedropper.primary .pick-lg-h,
div.datedropper.primary .pick-m,
div.datedropper.primary .pick-submit,
div.datedropper.primary:before {
    background-color: #e74e84!important
}
div.datedropper.primary .pick li span,
div.datedropper.primary .pick-btn,
div.datedropper.primary .pick-lg-b .pick-wke,
div.datedropper.primary .pick-y.pick-jump {
    color: #fd4741
}
.box_style_cat {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    margin-bottom: 25px
}
@media (max-width: 991px) {
    .box_style_cat {
        display: none
    }
}
ul#cat_nav {
    margin: 0;
    padding: 0
}
ul#cat_nav li {
    border-bottom: 1px solid #e1e8ed
}
ul#cat_nav li i {
    font-size: 16px;
    font-size: 1rem;
    margin: 1px 10px 0 0;
    float: left
}
ul#cat_nav li:last-child {
    border-bottom: 0;
    padding-bottom: 0
}
ul#cat_nav li a {
    position: relative;
    color: #555;
    display: block;
    padding: 15px 10px
}
ul#cat_nav li a:after {
    font-family: fontello;
    content: "\e89b";
    position: absolute;
    right: 15px;
    top: 15px
}
ul#cat_nav li a span {
    font-size: 11px;
    font-size: .6875rem;
    color: #999
}
ul#cat_nav li a#active,
ul#cat_nav li a.active,
ul#cat_nav li a:hover {
    color: #e74e84
}
ul#cat_nav li:first-child a#active,
ul#cat_nav li:first-child a.active,
ul#cat_nav li:first-child a:hover {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0
}
ul#cat_nav li:last-child a#active,
ul#cat_nav li:last-child a.active,
ul#cat_nav li:last-child a:hover {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}
.card {
    border: 0;
    margin-bottom: 5px
}
.card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #e1e8ed;
    padding: 20px
}
.card-body {
    padding-bottom: 0
}
.card-header h5 {
    font-size: 16px;
    font-size: 1rem
}
.card-header h5 a {
    border: 0;
    display: block;
    color: #999
}
.card-header h5 a i.indicator {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    float: right;
    color: #e74e84
}